<div class="post-bottom">
  <div class="caption">
    <div class="caption-content">
      <div class="user-name">
        <%= post.user.user_name %>
      </div>
      <%= post.caption %>
    </div>
    <div class="comments" id="comments_<%= post.id %>">
      <% if post.comments %>
        <%= render post.comments, post: post %>
      <% end %>
    </div>
  </div>
</div>
